In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [16]:
import pandas as pd

# Access file in parent directory
csv_path = "../training.1600000.processed.noemoticon.csv"

try:
    dataset = pd.read_csv(csv_path, encoding='latin-1')
    print("✓ Dataset loaded successfully!")
    print(f"Shape: {dataset.shape}")
    
    # Add proper column names
    column_names = ['sentiment', 'id', 'date', 'query', 'user', 'text']
    dataset.columns = column_names
    print(dataset.head())
    
except Exception as e:
    print(f"Error: {e}")

✓ Dataset loaded successfully!
Shape: (1599999, 6)
   sentiment  ...                                               text
0          0  ...  is upset that he can't update his Facebook by ...
1          0  ...  @Kenichan I dived many times for the ball. Man...
2          0  ...    my whole body feels itchy and like its on fire
3          0  ...  @nationwideclass no, it's not behaving at all....
4          0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

In [17]:
dataset.head()

   sentiment  ...                                               text
0          0  ...  is upset that he can't update his Facebook by ...
1          0  ...  @Kenichan I dived many times for the ball. Man...
2          0  ...    my whole body feels itchy and like its on fire
3          0  ...  @nationwideclass no, it's not behaving at all....
4          0  ...                      @Kwesidei not the whole crew

[5 rows x 6 columns]

In [19]:
dataset.shape

(1599999, 6)

In [20]:
dataset.isnull().sum()

sentiment    0
id           0
date         0
query        0
user         0
text         0
dtype: int64

In [21]:
dataset.drop_duplicates(inplace=True)

In [22]:
dataset.shape

(1599999, 6)

In [27]:
dataset.replace({'sentiment': {4:1}},inplace=True)

In [30]:
dataset['sentiment'].value_counts()

sentiment
1    800000
0    799999
Name: count, dtype: int64

In [24]:
nltk.download("stopwords", quiet=True)
nltk.download("wordnet" , quiet= True)

True

In [25]:
stopwords = set(stopwords.words('english'))